DATABASE_URL='postgresql://neondb_owner:npg_6OSQKdEmx5Nt@ep-weathered-brook-ahs38jkw-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
R2_ACCOUNT_ID='your_r2_account_id'
R2_ACCESS_KEY_ID='your_r2_access_key_id'
R2_SECRET_ACCESS_KEY='your_r2_secret_access_key'
R2_BUCKET_NAME='your_bucket_name'
R2_PUBLIC_DOMAIN='https://your-cdn-domain.com'
NEXTAUTH_SECRET='your_nextauth_secret'
NEXTAUTH_URL='http://localhost:3000'
NEXT_PUBLIC_APP_URL='http://localhost:3000'
